form {

  max-width: 300px;
  margin: auto;

}

p {
  display: inline-grid;
}


.example-full-width {
  width: 100%;
}


.students-section {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
