<div class="students-section">
  <h1>Students:</h1>
  <div *ngFor="let student of students;let i = index">
    <p>#{{i+1}} {{student?.name}} {{student?.lastname}} {{student?.age}} {{student?.teacher}}</p>
  </div>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Enter student name" name="name" [(ngModel)]="student.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Enter student lastname" name="lastname" [(ngModel)]="student.lastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Enter student age" name="age" [(ngModel)]="student.age">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Enter student teacher name" name="age" [(ngModel)]="student.teacher">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createStudent()">Add new student</button>
</form>


<hr>
